header {
  padding: 50px 30px;
  text-align: center;
}

.main-logo {
  width: fit-content;
  background: linear-gradient(90deg, #f902e1, #6600ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
