<div class="play">
  <div class="play_navigation" (click)="goHome()">
    <button mat-flat-button>Go Home</button>
    <app-question />
  </div>

  <div class="play_answers">
    @for (answer of answers$ | async; track $index) {
    <app-answer
      [answer]="answer"
      [answerStatus]="answer === selected ? status.SELECTED : status.BASIC"
      (click)="answerSelected(answer)"
    />
    }

    <button class="play_button" mat-flat-button (click)="submitAnswer()">
      Submit
    </button>
  </div>
</div>
